<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Shopping Cart</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
      <div class="brand">
     
      
      <a href="index.html">Shopping App</a>
      </div> 
      <div class="header-links">
      <a href="cart.html">Cart</a>
     
      </div>
      </header>
      
    
    
    <main class="main">
    <div class="content">
      <ul class="products">
        <li>
        <div class="product">
        <img class="product-image" src="images/product1.jpg" alt="product"/>
        <div class="product-name">
        <a href="product.html">Slim T shirt</a></div>
        <div class="product-brand">Nike</div>
        <div class="product-price">$60</div>
        <div class="product-rate">4.5 Starts (10 reviews)</div>

        </div>
        </li>

        
      
      </ul>
    </main>
    <footer class="footer">All right reserved.</footer>
    </div>
    <script>
 
    </script>
  </body>
</html>
